<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <contextName>gameServer</contextName>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"></statusListener>
    <!--输出到控制台 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%cn %d{hh:MM:ss} [%20logger{0}] - %message%n</pattern>
        </encoder>
    </appender>
    <logger name="com.baidu.bjf.remoting.protobuf.ProtobufProxy" level="error"  additivity="false">

    </logger>
    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>